{% extends 'base.html' %}
{% block content %}
<font face="Cabin" size="3px">
  <p><a href="/neighbourhoods/{{neighbourhood}}/read_posts">Do you want to read Read Other Posts for this Neighbourhood? Click Here.</a><br>(includes both lost pet reports and reports of sightings)</p>
  <div id='map_canvas'></div>

      <div id="map" style="width: 100%; height: 400px;"></div>

	<p class="example">Type of Post:{{type.name}}</p> <p class="example">The title of Post: {{title}}</p> <p class="example">The Latitude and Longitude of the Location: {{lat}}, {{long}} </p> <p class="example">The Text of your Post: {{text}}</p><p class="example">The URL of your photo: <img src="{{url}}"></p> 
  <meta id="map-data"  data-long="{{long}}" data-lat="{{lat}}">  <!-- so it can be utilized by external js -->
</font>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="static/map2.js"></script>
{% endblock %}





 