{% extends 'base.html' %}
{% block content %}
  <div class="row">

    <aside class="col-md-4 col-lg-3 col-sm-12" id="home-aside">
      <div class="card user-card">
        <div>
          <div class="image-wrapper">
            <img src="{{ g.user.header_image_url }}" alt="" class="card-hero">
          </div>
 
            <p>{{ g.user.username }}</p>
         
          <ul class="user-stats nav nav-pills">

          </ul>
        </div>
      </div>
    </aside>

    <img src="static/leslieville.png" alt="A map of Leslieville">

    {% endblock %}

<!-- By SimonP - Own work, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=6833199