<!DOCTYPE html>

<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAwWjTU22MT1qaiHi-xrjaBeGOnb_0b1qU"></script>
    <script src="https://cdn.what3words.com/javascript-components@4-latest/dist/what3words/what3words.js?key=QRWFGIU2"></script>
    
  </head>
  <body>
    <div id='map_canvas'></div>
    

    <p>You've selected Leslieville!</p>

   
    <!-- <img src="static/leslieville_map.png" alt="A map of Leslieville"> -->

      <div id="map" style="width: 100%; height: 400px;"></div>


    <p>Are you looking for a lost pet or reporting a sighting?</p>

    <!-- Turn this into a Form-->

     
        <form action="/map_data" method="post">
          
          <input hidden type="text" id="longlat" name="longlat" value=""><br>
          <input hidden type="text" id="area" name="area" value="1"><br> <!--{{area}}-->
          <input type="radio" id="looking" name="board-id" value="1">
          <label for="looking">Looking for a Lost Pet</label><br>
          <input type="radio" id="reporting" name="board-id" value="2">
          <label for="reporting">Reporting a Sighting</label><br>
          <input type="submit" value="Submit">
        </form> 

        <p>Your coordinates are:</p>
        <div id="current">Nothing yet...</div>

<!--document.getElementById('longlat').setAttribute ('value', s);-->
<!--document.getElementById('area').setAttribute ('value', );-->
     
    
<script src="static/map.js"></script>  
  </body>
</html>

    
   
    
<!--

 

<!-- By SimonP - Own work, CC BY-SA 3.0, https://commons.wikimedia.org/w/index.php?curid=6833199