{% extends 'base.html' %}
{% block content %}
    <div id='map_canvas'></div>
    4

    <h1><font face="Lobster, cursive" size="10px" color="#2E3135">You've selected {{neighbourhood.name}}!</font></h1>

    <font face="Cabin" size="4.5px">

    <p><a href="/neighbourhoods/{{neighbourhood.id}}/read_posts">Do you want to read Read Posts for this Neighbourhood? Click Here.</a><br>(includes both lost pet reports and reports of sightings)</p>
</font>
<font face="Cabin" size="4px">
    <p>To create a post follow these directions: Please zoom in as much as possible and drag and drop the marker in the exact spot where you lost your pet or saw the stray pet you sighted. Being as detailed as possible will make it more likely that you or others will find your lost pets.</p>

      <div id="map" style="width: 100%; height: 400px;"></div>


    <p>Are you looking for a lost pet or reporting a sighting?</p>
    <form action="/map_data" method="post">
          
          <input hidden type="text" id="lat" name="lat" value=>
          <input hidden type="text" id="long" name="long" value=>
          <input hidden type="text" id="neighbourhood" name="neighbourhood" value="{{neighbourhood.id}}">
          <input type="radio" id="looking" name="board-id" value=1>
          <label for="looking">Looking for a Lost Pet</label><br>
          <input type="radio" id="reporting" name="board-id" value=2>
          <label for="reporting">Reporting a Sighting</label><br>
          <br>
          <label for="title">
            Title for your Post:</label>
          <input type="text" class="form-control" id="title" name="title" placeholder="Example: Pink Flamingo lost at Corner of Leslie and Queen" required="" value=>
          <label for="textarea">Describe the pet that you lost or the stray pet that you saw roaming the area. Be as detailed as you can so the pet can be found!</label><br>
          
          <textarea class="form-control" type="textarea" name="text-input" id="text-input" placeholder="Example: Hi, My Pink Flamingo ran away from me at the corner of Leslie and Queen. He is 2 years old and very timid. Please do not yell at him. He will run away. I'm including his most recent photo!" maxlength="6000" rows="7"></textarea>
          <label for="myURL">Add the URL of the image you'd like to add to the post:</label><br>
          <input id="imageurl" class="form-control" name="imageurl" type="url" placeholder="http://www.example.com">
        <font face="Lobster, cursive" size="10px">
          <input type="submit" class="btn btn-primary" value="Submit">
          </font>
          </font>
        </form> 
        
         
     
<script src="https://unpkg.com/jquery"></script>   
<script src="/static/create-map.js"></script>  
{% endblock %}

    
