{% extends 'base.html' %}
{% block content %}

<p><font face="Cabin" size="5px">Toronto's a big place. Let's narrow down your search a little bit...</font></p>

<h1><font face="Lobster, cursive" size="10px">What area of Toronto  are you looking for?</font></h1>

<font face="Cabin" size="4px">
<p><a href="/eastend">East End</a></p>
<p>Downtown</p>
<p>North End</p>
<p>West End</p>
<p>East York</p>
<p>Etobicoke</p>
<p>North York</p>
<p>Scarborough</p>
<p>York</p>
</font>
{% endblock %}